* {
  margin: 0;
  padding: 0;
}

#content {
  flex: 5;
  display: grid;
}

table {
  margin: 20px;
}

table tr {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
  height: 50px;
}

table > thead > tr > th {
  font-size: 1.8rem;
  background-color: #27272a;
  font-weight: bold;
  color: white;
  border-right: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

table > thead > tr > th:last-child {
  border: none;
}

table > tbody > tr > td {
  background-color: #c4c4c4;
  text-align: center;
  height: 70px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trash-bin-svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}