* {
  margin: 0;
  padding: 0;
}

#content {
  display: flex;
  flex-direction: column;
  flex: 5;
}

table {
  margin: 0;
  border-spacing: 0;
  flex: 1;
}

thead {
  position: sticky;
  top: 0;
  z-index: 5;
}

table > thead tr:first-child {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(37, 37, 37) 78.9%);
}

table tr {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
  height: 50px;
}

table > thead > tr > th {
  font-size: 1.7rem;
  
  color: rgb(213, 213, 213);
  border-right: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Fredoka;
  font-weight: 500;
  letter-spacing: 2px;
}

table > thead > tr > th:last-child {
  border: none;
}

table > tbody > tr > td {
  /* background-color: #aaaaaa; */
  font-family: Fredoka;
  text-align: center;
  font-size: 1.3rem;
  font-weight: medium;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trash-bin-svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.checked-svg,
.unchecked-svg {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.checked-svg {
  filter: invert(14%) sepia(31%) saturate(4433%) hue-rotate(99deg) brightness(100%) contrast(106%);
}

.unchecked-svg {
  filter: invert(13%) sepia(22%) saturate(6682%) hue-rotate(349deg) brightness(97%) contrast(102%);
}

#dashboard {
  position: sticky;
  bottom: 0;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(126, 11, 11);
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

#dashboard > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

#dashboard img {
  width: 27px;
  height: 27px;
}
